@use '../global/variables' as v;
@use '../global/mixins' as m;

.titulos-confirmacion{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5rem;
    p{
        text-align: center;
        width: 90%;

        @include m.tablet{
            width: 50%;
        }

        span{
            font-weight: bold;
            text-transform: capitalize;
        }
    }
}

.contendor-folios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5rem auto 0 auto;
    width: 90%;
    
    @include m.tablet{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
        width: 50%;
    }

    h4{
        margin: 0;
    }
}

.folio{
    border: 1px solid v.$negro;
    margin: 2rem 0;
    padding: 1rem;
}



.titulos-icono-evaluacion{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5rem;
    p{
        text-align: center;
        width: 90%;

        @include m.tablet{
            width: 50%;
        }
    }
}

.evaluacion-iconos{
    align-items: center;
    column-gap: 2rem;
    display: flex;
    justify-content: center;
    margin: 5rem 0;
    img{
        cursor: pointer;
        height: 7rem;
        width: 7rem;

        @include m.tablet{
            height: 12rem;
            width: 14rem;
        }
    }

    input{
        display: none;
    }
}


.btn-enviar-evaluacion{
    @include m.boton(v.$red, v.$blanco){
        border-radius: 1rem;
        display: block;
        margin: 8rem auto;
        width: 70%;

        @include m.tablet{
            width: 40%;
        }

        @include m.desktop{
            width: 20%;
        }
    }
}

.iconNone{
    display: none;
}

.iconBlock{
    display: block;
}

.error-confirmacion-encuesta{
    display: none;
    justify-content: center;
    margin-top: 2rem;
    p{
        background-color: rgba(253, 0, 0, 0.389);
        border-left: 3px solid v.$red;
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
        padding: 1rem;
        color: v.$blanco
    }
}

.dflexsurver{
    display: flex;
}