@use '../global/variables' as v;
@use '../global/mixins' as m;

.carousel {
  display: flex;
  justify-content: center;
}
.carousel-inner {
  position: relative;
  width: 100%;
  height: 25rem;
  overflow: hidden;
  
  @include m.tablet{
    height: 35rem;
  }

  @include m.desktop{
    height: 40rem;
  }
}
