@use '../global/variables' as v;
@use '../global/mixins' as m;

.alerta{
    background-color: rgb(251, 167, 167);
    border-left: 2px solid v.$red;
    color: v.$red;
    display: none;
    font-weight: bold;
    margin-top: 2rem;
    padding: .5rem;
    text-align:center;
}

.alerta-productos{
    background-color: rgb(172, 255, 254);
    border-left: 2px solid rgb(4, 158, 155);
    display: none;
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 5rem;
    padding: 1rem;
}

.showAlert{
    display:block;
}