// Fuentes
$fuentePrincipal: 'Montserrat', sans-seri;
$fuenteSecundaria: 'Roboto', sans-serif;
$fuenteTerciaria: 'Open Sans', sans-serif;

//Media Querys
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

//Colores
$primary: #b25c7e;
$dark-grey: #333333;
$light-grey: #FFFFFF;
$negro: #000000;
$blanco: #FFFFFF;
$red: #CB0035;
$grey: #F9F9F9;
$yellow: #F3B335;
$orange: #D54E21;
$purple: #A7145B;
$dark-purple: #760060;
$blue: #002A7C;
$light-blue: #02A6B8;
$green: #00BF7C;
$light-green: #9AD859;
$dark-green: #01714D;
$grey-normal: #F2F2F2;

//unidades
$separacion: 5rem;